[submodule "Projects/ThirdParty/spdlog"]
	path = Projects/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Projects/ThirdParty/glfw"]
	path = Projects/ThirdParty/glfw
	url = https://github.com/glfw/glfw
